<container class="columns is-multiline featured-box">
  {{#each posts as |post|}}
    <div class="card com-cards m-3">
      <div class="column">
        <div class="card-image feature">
          <a href="/post/{{id}}">
            {{!-- <figure class="image is-128x128"> --}}
              <img class="image com-image" src="{{image}}" alt="{{description}}" />
              <div class="card-description">
                <div class="columns">
                    <p class="has-text-left column is-three-fifths">Posted by: {{user.username}} </p>
                    <p class="has-text-right column">On: {{format_date date_posted}} </p>
                </div>
              </div>
            {{!-- </figure> --}}
          </a>
        </div>
      </div>
    </div>
  {{/each}}
</container>