<container class="columns">
  <section class="column">
    <div class="card m-3">
      <div class="card-image feature">
        <figure class="image">
          <img id="img" data-img-id="{{image}}" src="{{image}}" alt="Placeholder image">
        </figure>
      </div>
     <div class="card-content" style="margin-bottom: 1.5rem; padding: 0rem;">
        <span class="content columns">
          <p class="has-text-left column">Posted by: {{username}}</p>
          <p class="has-text-center column">On: {{format_date date_posted}}</p>
          <p class="has-text-right column">In: {{location}}</p>
        </span>
        <span class="has-text-justified">
          {{description}}
        </span>
      </div>
    </div>
    {{!-- ============ --}}
    <form class="comment-form">
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" id="username-input" value="{{userLoggedIn}}" disabled>
          <span class="icon is-small is-left">
            <i class="far fa-user"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <textarea class="textarea is-primary" type="text" id="comment" data-post-id="{{id}}"
            placeholder="Type your comment here..."></textarea>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-primary" type="submit">
            Post Comment
          </button>
        </p>
      </div>
    </form>
    {{!-- ============ --}}
  </section>
  <br>
  <section class="column comments">
    <div class="has-text-black">
      {{!-- NEEDS TO LOOK BETTER --}}
      <h6 class="is-size-2 is-underlined">
        Comments
      </h6>
{{#each comments as |comment|}}
        <div class="has-text-left has-icon-right">
          
          <div class="comment box p-2">
          <strong>Comment:</strong> {{comment.message}} <strong>by:</strong> {{comment.username}}
         
          {{#if comment.displayDelete}}

          <button id="delBtn" class="button is-outlined is-small" data-id="{{comment.id}}"><i class="fas fa-trash"></i></button>
          </div>
          {{/if}}
          </div>
          {{/each}}
        </div>
    </div>
  </section>
</container>
<script src="/js/comment.js"></script>